@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  h1,
  h2,
  h3,
  h4 {
    @apply uppercase;
    font-family: Merriweather, Proxima Nova, sans-serif;
  }
  html {
    font-family: Merriweather, Proxima Nova, sans-serif;
  }
  h1 {
    @apply text-3xl;
  }
  h2 {
    @apply text-2xl uppercase text-white font-semibold mb-6;
  }
}

.icons_followUs {
  @apply text-2xl sm:text-3xl text-white m-2;
}


:root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }

body {
  min-height: 100vh;
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
}

.menuContainer {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  grid-gap: 20px;
}

.menuItem {
  text-align: center;
}

.imageContainer {
  position: relative;
  width: 100%;
  height: 0;
  padding-bottom: 100%;
}

.imageContainer > div {
  position: absolute !important;
  top: 0;
  left: 0;
  width: 100% !important;
  height: 100% !important;
}

/* Media queries for responsive rendering */
@media screen and (min-width: 1024px) {
  .menuContainer {
    grid-template-columns: repeat(3, 1fr);
  }
}

/* Render 2 items per row on larger screens */
@media screen and (max-width: 1024px) {
  .menuContainer {
    grid-template-columns: repeat(2, 1fr);
  }
}

/* Render 1 items per row on medium-sized screens */
@media screen and (max-width: 768px) {
  .menuContainer {
    grid-template-columns: repeat(1, 1fr);
  }
}

.menu-product-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  grid-gap: 20px;
}

.card {
  text-align: center;
}

.imageContainer {
  position: relative;
  width: 100%;
  height: 0;
  padding-bottom: 100%;
}

.imageContainer > div {
  position: absolute !important;
  top: 0;
  left: 0;
  width: 100% !important;
  height: 100% !important;
}

/* Media queries for responsive rendering */
@media screen and (min-width: 1400px) {
  .appetizerContainer {
    grid-template-columns: repeat(4, 1fr);
  }
}

/* Render 3 items per row on larger screens */
@media screen and (max-width: 1399px) {
  .appetizerContainer {
    grid-template-columns: repeat(3, 1fr);
  }
}

/* Render 2 items per row on larger screens */
@media screen and (max-width: 1024px) {
  .appetizerContainer {
    grid-template-columns: repeat(2, 1fr);
  }
}

/* Render 1 items per row on medium-sized screens */
@media screen and (max-width: 768px) {
  .appetizerContainer {
    grid-template-columns: repeat(1, 1fr);
  }
}

.header {
  padding: 1rem;
  border-bottom: 1px solid #ccc;
  height: 100%;
}
.logo {
  width: 120px;
}

@media screen and (max-width: 380px) {
  .logo {
    display: none;
  }
}

.nav {
  list-style-type: none;
  margin: 0 10px;
  padding: 0;
}

.nav-link:hover {
  color: #333;
  cursor: pointer;
}
